# Django
*.log
*.pot
*.pyc
__pycache__/
media/
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# macOS & Windows
.DS_Store
Thumbs.db

# Migrations cache
*/migrations/__pycache__/
